<div class="parent">
    <!--ring div starts here-->
<div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <h2>Login</h2>
      <div class="inputBx">
        <input type="text" [(ngModel)]="loginObj.phone" placeholder="Username">
      </div>
      <div class="inputBx">
        <input type="password" [(ngModel)]="loginObj.password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input type="button" value="Sign in" (click)="onLogin()">
      </div>
      <div class="links">
        <a href="#">Forget Password</a>
        <a href="#">Signup</a>
      </div>
    </div>
  </div>
  <!--ring div ends here-->
</div>





<!-- 
  "userName": "qqqqqqqqqqqq",
  "password": "ravi@1234",
  "role": "Staff"

  "userName": "MarrAuto0000",
  "password": "marr@uto",
  "role": "Staff"
,
  "userName": "Ali anwar",
  "password": "3311",
  "role": "Staff"

  "userName": "usman ",
  "password": "55555",
  "role": "Staff"


  "userName": "ABdullah",
  "password": "1122",
  "role": "Staff"


  "userName": "Aslam",
  "password": "1122",
  "role": "Staff"

  "userName": "string",
  "password": "string",
  "role": "string"

  "userName": "Ramzi",
  "password": "password",
  "role": "staff"

  "userName": "Sam",
  "password": "123456",
  "role": "Staff"

  "userName": "vk",
  "password": "vgg",
  "role": "ss"

  "userName": "tempuser",
  "password": "12345",
  "role": "staff"

  "userName": "cool",
  "password": "looc",
  "role": "Admin"

  "userName": "haha",
  "password": "hoho",
  "role": "Admin"
,
  "userName": "ram",
  "password": "112233",
  "role": "Staff"

  "userName": "shyam",
  "password": "112233",
  "role": "Staff"

  "userName": "staff",
  "password": "staff",
  "role": "Staff"

  "userName": "435",
  "password": "657",
  "role": "Staff"

  "userName": "lllll",
  "password": "657233",
  "role": "Staff"

  "userName": "flor",
  "password": "653",
  "role": "Staff"

  "userName": "kllkhk",
  "password": "yuyu",
  "role": "Staff"

  "userName": "trtr",
  "password": "65543",
  "role": "Staff"

  "userName": "kmgr",
  "password": "54353",
  "role": "Staff"

  "userName": "tyty",
  "password": "5455",
  "role": "Staff"

  "userName": "trrt",
  "password": "3443",
  "role": "Staff"

  "userName": "reettew",
  "password": "tr55",
  "role": "Staff"

  "userName": "ytuyuu",
  "password": "435",
  "role": "Staff"

  "userName": "user",
  "password": "123542",
  "role": "Staff"

  "userName": "a@a.com",
  "password": "a@kingAa",
  "role": "Staff"

  "userName": "sagar",
  "password": "sagar",
  "role": "admin"

  "userName": "Rutvik",
  "password": "Rutvik@123",

  "userName": "Rutuja",
  "password": "Rutuja@123",
  "role": "Staff"

  "userName": "selvi",
  "password": "selvi",
  "role": "Staff"

  "userName": "yaash",
  "password": "string",
  "role": "string"

  "userName": "mielola",
  "password": "140804",
  "role": "Staff"

  "userName": "yahs hcmsc",
  "password": "string",
  "role": "vbgfbgf"

  "userName": "admin",
  "password": "12345",
  "role": "Staff"

  "userName": "mytest",
  "password": "test1234",
  "role": "staff" -->

